/* General elements */
* {
	box-sizing: border-box;
	padding: 0;
	outline: 0;
	border: 0;
	margin: 0;

	font-family: "Roboto", "Noto Sans", sans-serif;
	line-height: 2;
	background-color: #000;
	color: #DDD;
}
*:lang(ja) {
	font-family: "Noto Sans JP", sans-serif;
}
*:lang(zh-Hans) {
	font-family: "Noto Sans SC", sans-serif;
}
*:lang(zh-Hant) {
	font-family: "Noto Sans TC", sans-serif;
}
body {
	width: 70vw;
	height: 100vh;
	margin: 0 15vw;
	oveflow: scroll;
	font-size: 1.25rem;
}

* {
	box-sizing: border-box;
	padding: 0;
	outline: 0;
	border: 0;
	margin: 0;

	font-family: "Roboto", "Noto Sans", sans-serif;
	line-height: 2;
	background-color: #000;
	color: #DDD;
}
*:lang(ja) {
	font-family: "Noto Sans JP", sans-serif;
}
*:lang(zh-Hans) {
	font-family: "Noto Sans SC", sans-serif;
}
*:lang(zh-Hant) {
	font-family: "Noto Sans TC", sans-serif;
}

body {
	width: 70vw;
	height: 100vh;
	margin: 0 15vw;
	oveflow: scroll;
	font-size: 1.25rem;
}

header {
	height: 31vh;
	display: grid;
	align-items: end;
	grid-template-columns: 1fr min-content;
}
#top {
	padding-bottom: 1em;
	border-bottom: 2px solid #0AF;
	margin-right: 50%;
	line-height: 2;
}
#directions {
	align-self: end;
	display: inline-grid;
	grid-template:
		" . u . " min-content
		" l . r " min-content
		" . d . " min-content
		/ min-content min-content min-content;
}
.arrow {
	display: inline-block;
	text-align: center;
	font-size: 0.6em;
	line-height: 1;
	font-weight: bolder;
	user-select: none;
}
.arrow a {
	line-height: 1;
	text-decoration: none;
}
.arrow, a {
	transition: 0.25s;
}
.arrow:hover, .arrow:active, a:hover, a:active {
	color: #0AF;
}
.disabled, .disabled:hover, .disabled:active {
	color: #888;
}

main {
	/* height: 69vh; */
	padding-bottom: calc(31vh - 7em);
}

h1 {
	margin: 1em 0;
	font-size: 5em;
	line-height: 1;
}

p, nav, img, table, ul {
	margin-bottom: 4em;
}

/*
nav::before, nav::after {
	display: block;
	content: "━━━";
	color: #0AF;
}
*/
nav {
	border-left: 2px solid #888;
	padding-left: 5vw;
}
nav a::after {
	animation: pulsate 1s ease-in-out infinite alternate;
}
nav a:hover::after {
	display: inline-block;
	text-decoration: none;
	white-space: pre;
	content: " »";
}
@keyframes pulsate {
	0% {
		color: #0AF;
	} 100% {
		color: #000;
	}
}
